*{
    padding: 0px;margin: auto;
}
.wrapper{
    height: 500px;
    width: 1089px;
    background-color: antiquewhite;
}
header{
    height: 50px;
    width: 1089px;
    background-color: rgb(226, 250, 215);
}
nav{
    height: 450px;
    width: 30%;
    background-color: rgb(32, 116, 184);
    float: left;
}
.content{
    height: 450px;
    width: 70%;
    background-color: rgb(62, 23, 114);
    float: left;
}
aside{
    height: 70%;
    width: 90%;
    background-color: antiquewhite;
    margin: 60px;
}
footer{
    height: 50px;
    width: 1089px;
    background-color: rgb(31, 27, 21);
}